
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'movies/style.css' %}">
    <title>Busca de Filmes</title>
</head>
<body>
    
    <div class="container">
        <h1>Busca de Filmes</h1>
        <div class="container-busca">
            <input type="text" placeholder="Digite o nome do filme" id="input-busca">
            <button id="botao-busca">Buscar</button>
        </div>
        <div id="resultado-busca"></div>
    </div>

    <script src="{% static 'movies/script.js' %}"></script>
</body>
</html>
